<div class="card text-dark bg-light">
        <div class="card-body">

            <h4 class="card-title">
                <a href="{{ url_for('post', id=post.id) }}">
                    {{ post.title }}
                </a>
                {% if current_user == post.author %}
                    <button type="button" class="close" aria-label="{{ _('Delete') }}">
                        <a href="{{ url_for('post_delete', id=post.id) }}" title="{{ _('Delete this post') }}">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </button>
                {% endif %}
            </h4>

            <p class="card-text">
                {{ post.body|truncate }}

                {% if post.language and post.language != g.locale %}
                    <br>
                    <span class="translation">
                        <span class="js-translate-post-btn btn btn-primary" data-post-id="{{ post.id }}">
                            {{ _('Translate') }}
                        </span>
                    </span>
                {% endif %}

            </p>
        </div>
        <div class="card-footer">
            {{ _('Author') }}: <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(30) }}" alt="">
                <b>{{ post.author.username }}</b>
            </a>

            <span class="text-right"> {{ moment(post.timestamp).fromNow() }}</span>


        </div>
    </div>
    <br>