{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}</h1>
    <hr>

    {% if current_user.is_authenticated %}
        <form action="" method="post">
        {{ form.hidden_tag() }}
        {% include 'forms/post_title.html' %}
        {% include 'forms/post_body.html' %}
        {% include 'forms/submit.html' %}
        </form>
        <hr>
    {% endif %}

    {% for post in posts %}
    <div class="card text-dark bg-light">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.body }}</p>
        </div>
        <div class="card-footer">
            <b>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </b>
            <span class="text-right">at {{ post.timestamp }}</span>
        </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}