{% extends "base.html" %}

{% block content %}
        {% if current_user.is_authenticated and form %}
            <h1>Hello, {{ current_user.username }}</h1>
        {% elif current_user.is_authenticated %}
            <h1>{{ title }}</h1>
            <small>Here you can find posts from all the users of this website.</small>
        {% else %}
            <h1>Hello Guest</h1>
            <small>Please login to make new posts, follow other users and achieve another features.</small>
        {% endif %}
    <hr>

    {% if current_user.is_authenticated and form %}
        <h5>Create New Post</h5>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        {% include 'forms/post_title.html' %}
        {% include 'forms/post_body.html' %}
        {% include 'forms/submit.html' %}
        </form>
        <hr>
    {% endif %}

    {% if posts %}
        <h5>Latest Posts</h5>
        {% for post in posts %}
            {% include '_post_item.html' %}
        {% endfor %}
    {% else %}
        <h5>Nothing to show.</h5>
    {% endif %}

    {% include '_pagination.html' %}

{% endblock %}