{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group row">
            {{ form.username.label(class='col-form-label') }}
            <div class="col-sm-10">
                {{ form.username(size=32, class='form-control', autofocus=True) }}
                {% for error in form.username.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        </div>

        <div class="form-group row">
            {{ form.password.label(class='col-form-label') }}
            <div class="form-group col-sm-10">
                {{ form.password(size=32, class='form-control') }}
                {% for error in form.password.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        </div>

        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class='btn btn-success') }}</p>
    </form>
{% endblock%}