{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% include 'forms/username.html' %}
        {% include 'forms/password.html' %}
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        {% include 'forms/submit.html' %}
    </form>
    <p>{{ _('New User?') }}
        <a href="{{ url_for('register') }}">
            {{ _('Click here to Register!') }}
        </a>
    </p>
    <p>{{ _('Forgot Your Password?') }}
        <a href="{{ url_for('reset_password_request') }}">
            {{ _('Click here to reset it.') }}
        </a>
    </p>
{% endblock%}