{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated and form %}
        <h1>{{ _('Hello') }}, {{ current_user.username }}</h1>
    {% elif current_user.is_anonymous %}
        <h1>{{ _('Hello') }} {{ _('Guest') }}</h1>
        <small>{{ _('Please login to make new posts and follow other users.') }}</small>
    {% endif %}

    <hr>

    <div class="d-flex justify-content-between align-items-center">
        <div class="blog-post-meta">
            {{ _('Author') }}:
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(30) }}" alt="">
                <b>{{ post.author.username }}</b>
            </a>
        </div>
        <div>{{ _('Published') }}: {{ moment(post.timestamp).fromNow() }}</div>
        {% if current_user == post.author %}
            <button type="button" class="close" aria-label="Close">
                <a href="{{ url_for('post_delete', id=post.id) }}" title="Delete this post">
                    <span aria-hidden="true">&times;</span>
                </a>
            </button>
        {% endif %}
    </div>

    <hr>

    <div class="card text-dark bg-light">
        <div class="card-footer">
            <h1 class="card-title">{{ post.title }}</h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ post.body }}
                   {% if post.language and post.language != g.locale %}
                        <br>
                        <span class="translation">
                            <span class="js-translate-post-btn btn btn-primary" data-post-id="{{ post.id }}">
                                {{ _('Translate') }}
                            </span>
                        </span>
                   {% endif %}
            </p>
        </div>
    </div>

    <br>
{% endblock %}