{% extends 'base.html' %}

{% block content %}
    <h1>{{ title + ": " + user.username }}</h1>
    <hr>

    <img src="{{ user.avatar(150) }}" alt="{{ current_user.username }} Gravatar">

    {% if user.last_seen %}Last seen on: {{ user.last_seen }}<br>{% endif %}

    {% if user.skype %}
        <b>Skype:</b>
        <a href="skype:{{ user.skype }}?call">{{ user.skype }}</a><br>
    {% endif %}

    {% if user.telegram %}
        <b>Telegram:</b>
        <a href="https://t.me/{{ user.telegram }}" target="_blank">
            {{ user.telegram }}
        </a><br>
    {% endif %}

    {% if user.facebook %}
        <b>Facebook:</b>
        <a href="https://www.facebook.com/{{ user.facebook }}" target="_blank">
            {{ user.facebook }}
        </a><br>
    {% endif %}

    {% if user.about_me %}
        <b>About Me:</b>
        {{ user.about_me }}<br>
    {% endif %}

    {% if current_user == user %}
        <a href="{{ url_for('edit_profile') }}">Edit Profile?</a>
    {% endif %}

    <hr>
    {% if posts %}
        <h2>Latest posts:</h2>
        <div class="list-group">
            {% for post in posts %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{ post.title }}</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1">{{ post.body }}</p>
                    {#<small>Donec id elit non mi porta.</small>#}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}