{% extends 'base.html' %}

{% block content %}
    <h1>{{ title + ": " + user.username }}</h1>
    <hr>

    <table class="table">
        <tbody>
            <tr>
                <td class="text-center">
                    <img src="{{ user.avatar(150) }}"
                         width="150"
                         height="150"
                         alt="{{ current_user.username }} Gravatar"
                         title="{{ current_user.username }} Gravatar">

                    <div class="text-center">{{ user.followers.count() }} {{ _('followers') }}</div>
                    <div class="text-center">{{ user.followed.count() }} {{ _('following') }}</div>

                    {% if current_user.is_authenticated %}
                        {% if current_user == user %}
                            <a class="btn btn-primary"
                               href="{{ url_for('blog.edit_profile') }}">{{ _('Edit Profile') }}</a>
                        {% elif not current_user.is_following(user) %}
                            <a class="btn btn-success"
                               href="{{ url_for('blog.follow', username=user.username) }}">{{ _('Follow') }}</a>
                        {% else %}
                            <a class="btn btn-danger"
                               href="{{ url_for('blog.unfollow', username=user.username ) }}">{{ _('Unfollow') }}</a>
                        {% endif %}
                    {% else %}
                            <a class="btn btn-success"
                               href="{{ url_for('auth.login') }}">{{ _('Follow') }}</a>
                    {% endif %}

                </td>
                <td>

                    {% if user.about_me %}
                        <b><i class="fas fa-headset"></i> {{ _('About Me') }}:</b>
                        {{ user.about_me }}<br>
                    {% endif %}
                    <br>

                    {% if user.skype %}
                        <span style="color: #00AFF0;">
                            <i class="fab fa-skype"></i>
                        </span>
                        <a href="skype:{{ user.skype }}?call">{{ user.skype }}</a><br>
                    {% endif %}

                    {% if user.telegram %}
                        <span style="color: #0088cc;">
                            <i class="fab fa-telegram"></i>
                        </span>
                        <a href="https://t.me/{{ user.telegram }}" target="_blank">
                            {{ user.telegram }}
                        </a><br>
                    {% endif %}

                    {% if user.facebook %}
                        <span style="color: #3C5A99;">
                            <i class="fab fa-facebook"></i>
                        </span>
                        <a href="https://www.facebook.com/{{ user.facebook }}" target="_blank">
                            {{ user.facebook }}
                        </a><br>
                    {% endif %}
                    <br>

                    {% if user.last_seen %}<i class="fas fa-clock"></i> {{ _('Last seen') }}: {{ moment(user.last_seen).fromNow() }}{% endif %}

                </td>
            </tr>
        </tbody>

    </table>

    <hr>

    {% if posts %}
        <h4>{{ _("Latest %(username)s's posts", username=user.username) }}</h4>
        <div class="list-group">
            {% for post in posts %}
                {% include 'partials/_post_item.html' %}
            {% endfor %}
        </div>
    {% endif %}

    {% include 'partials/_pagination.html' %}

{% endblock %}